.item{
    width: 280px;
}
.mainimage{
    width: 280px;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    gap: 5px;
}
.item-price-new{
    color: #374151;
    font-size: 12px;
    font-weight: 500;
}
.item-price-old{
    color: #374151;
    font-size: 12px;
    font-weight: 500;
}
.item{
    transform: scale(1.05);
    transition: 0.6s;
}
.under{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.wish{
    height: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
}
#name{
    font-weight: 600;
}
@media(max-width:1280px){
    .item{
        width: 220px;
        font-size: 14px;
    }
    .mainimage{
        width: 220px;
    }
}
@media(max-width:1024px){
    .item{
        width: 170px;
        font-size: 13px;
    }
    .mainimage{
        width: 170px;
    }
}
@media(max-width:800px){
    .item{
        width: 110px;
        font-size: 12px;
        padding: 5px;
    }
    .mainimage{
        width: 110px;
    }
}
@media(max-width:500px){
    .item{
        width: 160px;
        font-size: 13px;
    }
    .mainimage{
        width: 160px;
    }
    .item-prices{
        display: flex;
        flex-direction: column;
    }
}