.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}

.userlist-format {
    display: contents; /* Ensures the grid layout is preserved */
    align-items: center;
    font-weight: 500;
}

.userlist-user-icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid #454545;
    object-fit: cover;
    box-shadow: #454545ab 0px 0px 25px;
}

.userlist-remove-icon {
    cursor: pointer;
    margin: auto;
    justify-content: flex-end;
}

.userlist-allusers {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 150px); /* Adjust height for responsive scrolling */
    padding: 20px;
}
.userlist-format-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin: 20px 0px;
}
.user-details{
    display: flex;
    gap: 20px;
    align-items: center;
}
.user-action{
    display: flex;
    align-items: center;
    gap: 10px;
}
.remove-user{
align-items: center;
}
.remove-user img{
    width: 30px;
    height: 30px;
}
.remove-user img:hover{
    scale: 1.2;
}
.block-unblock button{
    border-radius: 99px;
    border: 0px;
    outline: none;
    background-color: #ccc;
    padding: 5px 15px;
    cursor: pointer;
}
.block-unblock button:hover{
    scale:1.2;
    background-color: #454545;
    color: antiquewhite;
}

@media (max-width: 800px) {
    .user-list {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }

    .userlist-format-main {
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr; /* Adjusted for responsive layout */
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;
        gap: 5px;
    }

    .userlist-user-icon {
        height: 60px;
        width: 60px;
    }

    .userlist-remove-icon {
        height: 20px;
        width: 20px;
    }
}
@media (max-width: 500px) {
    .user-details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .userlist-format-main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}
@media (max-width: 350px){
    .userlist-format-main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}